<!DOCTYPE html>
<html>
  <head>
    <title>Find Fido</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>

  <body>

    <!-- Navbar (sit on top) -->
    <div class="w3-top">
      <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <a href="/dashboard" class="w3-bar-item w3-button"><b>Find Fido</b></a>
        <!-- Float links to the right. Hide them on small screens -->
        <div class="w3-right">
            <p id='google-flash' class="w3-bar-item">Signed in as <strong><%= current_user.name %></strong>!</p>
            <a href='signout' class="w3-bar-item w3-button">Sign Out</a>
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="w3-content w3-padding" style="max-width:1564px">

      <!-- Welcome Section -->
      <div class="w3-container w3-padding-32" id="welcome">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Find Fido Welcomes You</h3>
      </div>

      <div class="main-split-report">
        <!-- report entry -->
        <div class="w3-container w3-padding-32" id="about">
          <p>Did you Find Fido? Report a found animal by clicking the link below!</p>
          <a href='reports/new' class="w3-bar-item">Report Found Pet</a>
          <br>
          <br>
          <br>
          <h4>Currently Viewing a Shelter</h4>
          Name: <%= @shelter.name %>
          <br>
          Phone: <%= @shelter.phone %>
          <br>
          Email: <%= @shelter.email %>
          <br>
          Address: <%= @shelter.mailing_address %>
          <br>
          <br>
        </div>

        <!-- google Map -->
        <div id="map"></div>
      </div>
    <!-- End page content -->
    </div>

    <!-- Footer -->
    <div id="footer" class="w3-bar w3-black w3-wide w3-padding w3-card">
      <div class="w3-left w3-hide-small">
        <a href='reports' class="w3-bar-item w3-button">View All Found Pets</a>
        <a href='reports/new' class="w3-bar-item w3-button">Report Found Pet</a>
        <a href='dashboard' class="w3-bar-item w3-button">Shelters Near Me</a>
      </div>
    </div>

    <!-- map setup -->
    <script>
      var map, infoWindow;
      var coordinates = [<%= @shelter.latitude %>, <%= @shelter.longitude %>];
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: coordinates[0], lng: coordinates[1]},
          zoom: 15
        });
        infoWindow = new google.maps.InfoWindow;

        // place any existing markers
        var marker, i;

        for (i = 1; i < coordinates.length; i++) {
          marker = new google.maps.Marker({
            position: new google.maps.LatLng(coordinates[0], coordinates[1]),
            map: map
          });

          google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
              infoWindow.setContent('Shelter found here!');
              infoWindow.open(map, marker);
            }
          })(marker, i));
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
          'Error: The Geolocation service failed.' :
          'Error: Your browser doesn\'t support geolocation.');
          infoWindow.open(map);
      }
    </script>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnxenjTzcyUby5I4LgfYb2ENp8S5WG1aE&callback=initMap">
    </script>

  </body>
</html>
