<!DOCTYPE html>
<html>
  <head>
    <title>Find Fido</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>

  <body>

    <!-- Navbar (sit on top) -->
    <div class="w3-top">
      <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <a href="/dashboard" class="w3-bar-item w3-button"><b>Find Fido</b></a>
        <!-- Float links to the right. Hide them on small screens -->
        <div class="w3-right">
            <p id='google-flash' class="w3-bar-item">Signed in as <strong><%= current_user.name %></strong>!</p>
            <a href='signout' class="w3-bar-item w3-button">Sign Out</a>
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="w3-content w3-padding" style="max-width:1564px">

      <!-- Welcome Section -->
      <div class="w3-container w3-padding-32" id="welcome">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Find Fido Welcomes You</h3>
      </div>

      <div class="main-split-report">
        <!-- report entry -->
          <div class="w3-container w3-padding-32" id="about">
          <p>Reporting a found pet is easy! Just fill out the form below with the street address nearest the animal (if you're not sure what the address is, it is okay to estimate). Then enter a description of the animal and click Report.</p>
          <div id="report-form">
            <%= form_for @report do |f| %>
            <%= f.label :street %>
            <br>
            <%= f.text_field :street %>
            <br>
            <%= f.label :city %>
            <br>
            <%= f.text_field :city %>
            <br>
            <%= f.label :zip %>
            <br>
            <%= f.text_field :zip %>
            <br>
            <%= f.label :description %>
            <br>
            <%= f.text_area :description %>
            <br>
            <%= f.submit "Report"%>
            <% end %>
          </div>
        </div>

        <!-- google Map -->
        <div id="map"></div>
      </div>
    <!-- End page content -->
    </div>

    <!-- Footer -->
    <div id="footer" class="w3-bar w3-black w3-wide w3-padding w3-card">
      <div class="w3-left w3-hide-small">
          <a href="#about" class="w3-bar-item w3-button">About</a>
          <a href="#help" class="w3-bar-item w3-button">Help</a>
          <a href="#contact" class="w3-bar-item w3-button">Contact</a>
      </div>
    </div>

    <!-- map setup -->
    <script>
      // default map load in denver caphill
      var map, infoWindow;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 39.7334616, lng: -104.9824661},
          zoom: 15
        });
        infoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Your location.');
            infoWindow.open(map);
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
          'Error: The Geolocation service failed.' :
          'Error: Your browser doesn\'t support geolocation.');
          infoWindow.open(map);
        }
    </script>

    <%# TODO: GET THIS KEY OUTTA HERE!! %>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnxenjTzcyUby5I4LgfYb2ENp8S5WG1aE&callback=initMap">
    </script>

  </body>
</html>
