<!DOCTYPE html>
<html>
  <head>
    <title>FindFido</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    
    <div>
      <% if current_user %>
        Signed in as <strong><%= current_user.name %></strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>
        <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
      <% end %>
    </div>

      <main class="main-container" id="flashes">
        <% flash.each do |type, message| %>
          <%= content_tag :div, message.html_safe, class: "alert alert-#{type}" %>
        <% end %>

    <%= yield %>

  </body>
</html>
